{% extends 'layout.html' %}


{% block content %}
<div class="container">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">
        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
        新建用户
      </div>
      <div class="panel-body">
      <form method="post"">
        {% csrf_token %}
        
        {% for field in form %} 
            
            <div class="form-group">
                <label >{{ field.label  }}</label>
                {{field}} 
              </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">保 存</button>
          </div>
        </div>
      </form>
  </div>
{% endblock content %}
    


<form method="post">
    
  </form>